* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin-top: 300px;
}

.login {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login h1 {
  margin-bottom: 100px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  outline: none;
}

button {
  border-radius: 5px;
  margin-top: 50px;
  padding: 15px 0;
  background: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
